@import url('https://fonts.googleapis.com/css2?family=Chango&family=Dongle&display=swap');



/* Start writing your CSS */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
  }
  /*
	2. Remove default margin
  */
  * {
	margin: 0;
  }
  /*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
  */
  body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  }
  /*
	5. Improve media defaults
  */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  /*
	6. Remove built-in form typography styles
  */
  input, button, textarea, select {
	font: inherit;
  }
  /*
	7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  /*
	8. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }


/* Main Styles */

body{
	overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	margin: 0 auto;
	background-color: #804AD6;
} 

.headsection{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	position: relative;
	font-family: "Chango", sans-serif;
	font-weight: 400;
	font-style: normal;
}

header a{
	color: #fff;
	font-size: 40px;
	margin: 1%;
	text-decoration: none;
}

nav{
	display: flex;
    justify-content: space-between;
    align-items: center;
	z-index: 11;
}

nav a{
	color: #fff;
	font-size: 20px;
	margin: 4%;
	text-decoration: none;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100vw;
	margin: 0 auto;
	overflow-y: hidden;
	font-family: "Dongle", sans-serif;
		font-size:  40px;
		font-weight: bold;
		color: #804AD6;
	
	
}

h2 { 
	font-family: "Chango", sans-serif;
	font-size:35px;
	color: #804AD6;
	margin-top: 50px;
		margin-bottom: 10px;
}
h3 { 
	font-family: "Chango", sans-serif;
	font-size:  26px;
	color: #804AD6;
	margin-top: 50px;
		margin-bottom: 10px;
}
p {font-family: "Dongle", sans-serif;
	font-size:  40px;
	font-weight: bold;
	color: #804AD6;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 80px;
		margin-left: 80px;
}
 h4 {
	font-family: "Chango", sans-serif;
	font-size:  100px;
	color: #804AD6;
	text-align: left;
	margin-top: 300px;
	background-color: #D5C6FF;

	
	
 }
.horizontallayout{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100vw;
	margin: 0 auto;
	overflow-y: hidden;
}

.about_photo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;
	height: 100vh;
}

.about_bio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	height: 100vh;
	padding: 2%;
}

.purplebg{
	background-color: #D5C6FF;
	background-size: cover;
	background-position: center;
}

.patternbg{
	background: url('../img/pattern.jpg') center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Home Styles */

.home_hero{
	position: absolute;
    top: 3%;
    margin-left: 20%;
    right: -25%;
	z-index: 10;
}

.homepatterns{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
	margin: 0 auto;
}

.home_purplebg{
	background-color: #D5C6FF;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 50vh;
}

.home_patternbg{
	background: url('../img/pattern.jpg') center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 50vh;
}
	


/* About Styles */

.aboutmeimg {
    width: 500px;
    height: 450px;
    border-radius: 60%;
    margin: 3%;
    padding: 3%;
}

/* Work Styles */

#tall_work_gallery{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 3%;
}

#tall_work_gallery img{
	width: 90%;
	border-radius: 30px;
	min-height: 500px;
	margin: 2%;
}

.tallboy{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	flex-wrap: nowrap;
}

.tallboy a{
	color: #804AD6;
	text-decoration: none;
	margin-top: 2%;
	
}

/* contact styles */ 

.contact_patternbg {
	background: url('../img/pattern.jpg') center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.purple_sq {
	width: 300px;
	height: 300px;
	color: #D5C6FF;
	margin: 100;
}

.contact_me{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 5%;
	width: 65%;
	padding: 1%;
	background-color: #D5C6FF;
	border-radius: 35px;
}

.contact_me img{
	width: 100px;
	height: auto;
	margin: 1%;
}

/* Portfolio Styles */

.work_examples img{
	width: 80%;
	height auto;
	margin: 1%;
}





/* Media Queries */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1439.98px) { 

}

/* Large devices (desktops, less than 1024px) */
@media (max-width: 1023.98px) { 

}

/* Medium devices (tablets, less than 744px) */
@media (max-width: 743.98px) { 

}

/* Small devices (landscape phones, less than 430px) */
@media (max-width: 429.98px) {

}

/* X-Small devices (portrait phones, less than 375px) */
@media (max-width: 374.98px) {

}